footer
  p &#169; 2022 #[a(href="https://geoarbol.com" target="_blank") GeoÁrbol]
  //- p Design by #[a(href="https://unofficialbydesign.com/" target="_blank") Unofficial by Design]
  button Colaboradores
dialog.colaborators
  header 
    h3 Colaboradores
    span(role="button" tabindex="0") &times;
  .colaborators__content
    div Diseño y logo por #[a(href="https://unofficialbydesign.com/" target="_blank") Unofficial by Design]
    div Ilustración mapa: Laura Colque Medrano
    div Programación: Rodrigo Coronel Loza 
    div Agradecimientos especiales al Dr. Ramiro Suárez Soruco, a Teresa Camacho, a Romeo Rojas y a Cindy Ornito por el material bibliográfico.