footer
  p &#169; 2022 #[a(href="https://geoarbol.com" target="_blank") GeoÁrbol]
  p Diseño gráfico y logo #[a(href="https://unofficialbydesign.com/" target="_blank") Unofficial by Design]
  button Colaboradores
.collaborators__backdrop.hidden
  .collaborators__modal
    header 
      h3 Colaboradores
      span(role="button" tabindex="0") &times;
    .collaborators__content
      div Programación: Rodrigo Coronel Loza 
      div Agradecimientos especiales al Dr. Ramiro Suárez Soruco, a Teresa Camacho, a Romeo Rojas y a Cindy Ornito por el material bibliográfico.