- const srcStr = "https://www.colorbook.io/imagecreator.php?hex=1168A6&width=150&height=150"
- const descStr = "Un árbol es una planta, de tallo leñoso, que se ramifica a cierta altura del suelo. ​ Diferente según las fuentes: dos metros,​ tres metros,​​ cinco metros​ o los seis metros."
- const anfibiosData = [{src: require("./assets/section-img/frogs/1-telmatobius-culeus-min.jpg"), title: "Telmatobius culeus", desc: "La rana gigante del Lago Titicaca (Telmatobius culeus), es una de las especies más antiguas y numerosas del centro. Contamos con la segunda F1 exitosa nacida en cautiverio en abril del 2017, los cuales ya son juveniles. El plan propuesto para la conservación de la rana gigante del Lago Titicaca incluye trabajo con comunidades locales, investigación, monitoreos, educación y difusión. Para esto se pretende fortalecer la coordinación interinstitucional nacional e internacional, a todos los niveles, que apoye los procesos de conservación y manejo de esta especie."}, {src: require("./assets/section-img/frogs/2-telmatobius-simonsi-min.jpg"), title: "Telmatobius simonsi", desc: "La rana acuática de Sucre (Telmatobius simonsi) es endémica de Bolivia y habita ríos, riachuelos y cunetas del camino. Recientemente hubo avistamientos de poblaciones silvestres en los valles de Cajamarca en el departamento de Sucre y la provincia de Totora del en departamento de Cochabamba. Por ello vemos la urgencia de realizar estudios que permitan determinar su estado poblacional, así también, fortalecer el manejo ex situ que se tiene en el centro."}, {src: require("./assets/section-img/frogs/3-telmatobius-gigas-min.jpg"), title: "Telmatobius gigas", desc: "La rana acuática gigante (Telmatobius gigas), endémica de Bolivia, se encuentra críticamente amenazada, tiene una distribución restringida en los alrededores de la Serranía de Huayllamarca en el departamento de Oruro, es conocida por presentar la larva más grande dentro del género Telmatobius. Adriana Águila, técnico del centro, realizó junto con otros colaboradores un estudio poblacional in situ, el cual proveerá las líneas bases de conservación para esta especie."}, {src: require("./assets/section-img/frogs/4-telmatobius-yuracare-min.jpg"), title: "Telmatobius yuracare", desc: "La rana acuática yuracaré (Telmatobius yuracare), endémica de Bolivia, habita arroyos en los yungas de los departamentos de Cochabamba y Santa Cruz. Durante estos 10 años la última rana encontrada en la naturaleza (Romeo), ha vivido en un acuario con los mayores cuidados en el centro, pero sin otros individuos de su especie. Se desconoce el tiempo de vida que le quede al último individuo conocido con vida de la rana yuracaré. Es por esto que el equipo de K´ayra y Global Wildlife Conservation pronto iniciarán una búsqueda intensiva para encontrar más individuos de esta especie y evitar su extinción."}, {src: require("./assets/section-img/frogs/5-telmatobius-hintoni-min.jpg"), title: "Telmatobius hintoni", desc: "La rana acuática de los valles (Telmatobius hintoni), es endémica de Bolivia y habita arroyos, ríos y canales en valles altos de los departamentos de Cochabamba y el norte de Potosí y Chuquisaca. Es la especie que mayor éxito ha tenido en el centro con la tercera generación exitosa en cautiverio. Uno de los técnicos principales en el centro, Sophia Barrón Lavayen que lleva cinco años en el centro, se encuentra culminando el estudio poblacional sobre caracterización poblacional en área urbana y rural de la ciudad de Cochabamba. Esta es la principal especie que hemos contemplado para realizar un programa piloto de reintroducción en el futuro."}]

mixin card(src= srcStr, title= "Árbol", desc= descStr)
  .card__container 
    img(src= src loading="lazy")
    .card__content_container
      .card__content  
        h4= title 
        p= desc 
        button &and;

mixin section(title= "Árboles", cards= [{src: srcStr, title: "Árbol", desc: descStr}, {src: srcStr, title: "Árbol", desc: descStr}])
  .section__container
    .section__header 
      h3= title 
      button &or;
    .section__cards_container 
      each card in cards 
        +card(card.src, card.title, card.desc)

+section("Anfibios", anfibiosData)