- const src = "https://www.colorbook.io/imagecreator.php?hex=1168A6&width=150&height=150"
div.arboles
    .section_header 
        h3 ARBOLES 
        button &#9660
    .section_card_container 
        .tree1 
            img(src= src)
            .content  
                h4 ARBOL1
                .p Un árbol es una planta, de tallo leñoso, que se ramifica a cierta altura del suelo. ​ El término hace referencia habitualmente a aquellas plantas cuya altura supera un determinado límite en la madurez, diferente según las fuentes: dos metros,​ tres metros,​​ cinco metros​ o los seis metros.
                    button HIDE
        .tree2 
            img(src= src)
            .content  
                h4 ARBOL2
                .p Un árbol es una planta, de tallo leñoso, que se ramifica a cierta altura del suelo. ​ El término hace referencia habitualmente a aquellas plantas cuya altura supera un determinado límite en la madurez, diferente según las fuentes: dos metros,​ tres metros,​​ cinco metros​ o los seis metros.
                    button HIDE
        .tree3
            img(src= src)
            .content  
                h4 ARBOL3
                .p Un árbol es una planta, de tallo leñoso, que se ramifica a cierta altura del suelo. ​ El término hace referencia habitualmente a aquellas plantas cuya altura supera un determinado límite en la madurez, diferente según las fuentes: dos metros,​ tres metros,​​ cinco metros​ o los seis metros.
                    button HIDE

div.mamiferos
    .section_header
        h3 MAMIFEROS 
        button &#9660
    .section_card_container 
        .mammal1 
            img(src= src)
            .content  
                h4 MAMIFERO1
                .p Los mamíferos son animales vertebrados, es decir, que su cuerpo está formado por huesos al igual que el de los seres humanos, y los otros animales de la naturaleza, la diferencia es que ellos tienen pelo por todo su cuerpo,
                    button HIDE
        .mammal2 
            img(src= src)
            .content  
                h4 MAMIFERO2
                .p Los mamíferos son animales vertebrados, es decir, que su cuerpo está formado por huesos al igual que el de los seres humanos, y los otros animales de la naturaleza, la diferencia es que ellos tienen pelo por todo su cuerpo,
                    button HIDE
        .mammal3 
            img(src= src)
            .content  
                h4 MAMIFERO3
                .p Los mamíferos son animales vertebrados, es decir, que su cuerpo está formado por huesos al igual que el de los seres humanos, y los otros animales de la naturaleza, la diferencia es que ellos tienen pelo por todo su cuerpo,
                    button HIDE

div.anfibios
    .section_header
        h3 ANFIBIOS 
        button &#9660
    .section_card_container 
        .anfibio1 
            img(src= src)
            .content  
                h4 ANFIBIO1
                .p Los anfibios, el grupo de vertebrados terrestres más antiguos sobre la Tierra (surgieron hace 370 millones de años, aproximadamente)
                    button HIDE
        .anfibio2 
            img(src= src)
            .content  
                h4 ANFIBIO2
                .p Los anfibios, el grupo de vertebrados terrestres más antiguos sobre la Tierra (surgieron hace 370 millones de años, aproximadamente)
                    button HIDE
        .anfibio3 
            img(src= src)
            .content  
                h4 ANFIBIO3
                .p Los anfibios, el grupo de vertebrados terrestres más antiguos sobre la Tierra (surgieron hace 370 millones de años, aproximadamente)
                    button HIDE

div.reptiles
    .section_header
        h3 REPTILES 
        button(onclick='reptiles.section_card_container.display=none') &#9660
    .section_card_container 
        .reptile1 
            img(src= src)
            .content  
                h4 REPTIL1
                .p Los reptiles, tal como se han definido históricamente, son parafiléticos, ya que excluyen tanto a las aves como a los mamíferos. 
                    button HIDE
        .reptile2 
            img(src= src)
            .content  
                h4 REPTIL2
                .p Los reptiles, tal como se han definido históricamente, son parafiléticos, ya que excluyen tanto a las aves como a los mamíferos. 
                    button HIDE
        .reptile3 
            img(src= src)
            .content  
                h4 REPTIL3
                .p Los reptiles, tal como se han definido históricamente, son parafiléticos, ya que excluyen tanto a las aves como a los mamíferos. 
                    button HIDE

div.birds
    .section_header
        h3 AVES 
        button &#9660
    .section_card_container 
        .bird1 
            img(src= src)
            .content  
                h4 AVE1
                .p Las aves se originaron a partir de dinosaurios carnívoros bípedos del Jurásico, hace entre ciento cincuenta y doscientos millones de años y, de hecho, 
                    button HIDE
        .bird2 
            img(src= src)
            .content  
                h4 AVE2
                .p Las aves se originaron a partir de dinosaurios carnívoros bípedos del Jurásico, hace entre ciento cincuenta y doscientos millones de años y, de hecho,
                    button HIDE
        .bird3 
            img(src= src)
            .content  
                h4 AVE3
                .p Las aves se originaron a partir de dinosaurios carnívoros bípedos del Jurásico, hace entre ciento cincuenta y doscientos millones de años y, de hecho,
                    button HIDE