- const srcStr = "https://www.colorbook.io/imagecreator.php?hex=1168A6&width=150&height=150"
- const descStr = "Un árbol es una planta, de tallo leñoso, que se ramifica a cierta altura del suelo. ​ Diferente según las fuentes: dos metros,​ tres metros,​​ cinco metros​ o los seis metros."
- const anfibiosData = [{src: require("./assets/section-img/frogs/1-telmatobius-culeus-min.jpg"), title: "Rana Gigante del Lago Titicaca", desc: "Es una de las especies que más tiempo ha estado en el Centro K’ayra. Se ha propuesto un plan para ayudar a su conservación, involucrando comunidades locales, educación e investigación."}, {src: require("./assets/section-img/frogs/2-telmatobius-simonsi-min.jpg"), title: "Rana acuática de Sucre", desc: "Esta especie es endémica de Bolivia. Habita ríos, riachuelos y cunetas del camino en los valles de Cajamarca (Sucre) y en la provincia de Totora (Cochabamba). Se necesitan más estudios para conocer cuál es el estado de sus poblaciones."}, {src: require("./assets/section-img/frogs/3-telmatobius-gigas-min.jpg"), title: "Rana acuática gigante", desc: "También es una especie endémica de Bolivia. Lastimosamente está amenazada de extinción. Se la encuentra de forma restringida en la serranía de Huayllamarca (Oruro). El Centro K’ayra lleva adelante estudios para ayudar a su conservación."}, {src: require("./assets/section-img/frogs/4-telmatobius-yuracare-min.jpg"), title: "Rana acuática de Sehuencas", desc: "Son pequeñas ranitas de 6 centímetros. Es una especie endémica de Bolivia, críticamente amenazada. Durante 10 años, el Centro K’ayra cuidó de Romeo, que se creía era la última ranita de su especie. El año 2018, se lograron encontrar más individuos de esta especie, incluyendo una compañera para Romeo, Julieta. "}, {src: require("./assets/section-img/frogs/5-telmatobius-hintoni-min.jpg"), title: "Rana acuática de los valles", desc: "Es una especie endémica de Bolivia que habita arroyos, ríos y canales en los valles altos de Cochabamba, Potosí y Chuquisaca. Gracias a una recuperación exitosa en cautiverio, el Centro K’ayra desarrolla un plan piloto para su reintroducción en el futuro."}]
- const treesData = [{src: require("./assets/section-img/trees/1-lloque-min.jpg"), title: "Lloque", desc: "El lloque es una especie que se encuentra muy poco en la ciudad de Cochabamba. Aunque se lo puede encontrar en Argentina, Bolivia y Perú, es una especie amenazada por pérdida de hábitat. Este ejemplar fue traído al museo desde el vergel de Toro Toro."}, {src: require("./assets/section-img/trees/2-jacaranda-min.jpg"), title: "Jacarandá", desc: "El Jacarandá es una especie emblemática y muy querida en Cochabamba. Se encuentran con flores de color morado, rosado y blanco."}, {src: require("./assets/section-img/trees/3-ibirapita-min.jpg"), title: "Ibirapitá", desc: "Este magnífico ejemplar se encuentra al lado de la casona el Museo. Sus flores son de color amarillo. Al lado, se tiene plantado un limonero."}];
- const birdsData = [{src: require("./assets/section-img/birds/1-colibri-min.jpg"), title: "Colibrí", desc: "El colibrí sorprende por sus colores brillantes, su pequeño tamaño y la velocidad de su aleteo. Cada vez más raros en Cercado, pueden encontrarse hasta tres especies diferentes de colibrís en los predios del Museo."}, {src: require("./assets/section-img/birds/2-naranjero-min.jpg"), title: "Naranjero", desc: "Esta simpática ave puede ser tan colorida que también se le llama “sietecolores”. Habitan mayormente en bosques, aunque también se los puede ver en algunas zonas urbanas como la del área verde del Museo."}, {src: require("./assets/section-img/birds/3-gavilan-min.jpg"), title: "Gavilán", desc: "Aunque pertenecen a hábitats naturales como bosques y montes, algunas de estas magníficas aves cazadoras decidieron hacer su hogar en las altas copas de los árboles del museo d’Orbigny y el Palacio Patiño."}]

mixin card(src= srcStr, title= "Árbol", desc= descStr)
  .card__container 
    img(src= src loading="lazy")
    .card__content_container
      .card__content  
        h4= title 
        p= desc 
        button &and;

mixin section(title= "Árboles", cards= [{src: srcStr, title: "Árbol", desc: descStr}, {src: srcStr, title: "Árbol", desc: descStr}])
  div(id!=attributes.id class="section__container")
    .section__header
      h3= title 
      button &or;
    .section__cards_container.hidden 
      each card in cards 
        +card(card.src, card.title, card.desc)

+section("Anfibios", anfibiosData)(id="frogs-section")
+section("Árboles", treesData)(id="trees-section")
+section("Aves", birdsData)(id="birds-section")
+section("Murciélagos")(id="bats-section")
+section("Museo")(id="museum-section")