- const srcStr = "https://www.colorbook.io/imagecreator.php?hex=1168A6&width=150&height=150"
- const descStr = "Un árbol es una planta, de tallo leñoso, que se ramifica a cierta altura del suelo. ​ Diferente según las fuentes: dos metros,​ tres metros,​​ cinco metros​ o los seis metros."

mixin card(src= srcStr, title= "Árbol", desc= descStr)
  .card__container 
    img(src= srcStr)
    .card__content_container
      .card__content  
        h4= title 
        p= descStr 
        button &and;

mixin section(title= "Árboles", cards= [{src: srcStr, title: "Árbol", desc: descStr}, {src: srcStr, title: "Árbol", desc: descStr}])
  .section__container
    .section__header 
      h3= title 
      button &#9660
    .section__cards_container 
      each card in cards 
        +card(card.src, card.title, card.desc)

+section