- const srcStr = "https://www.colorbook.io/imagecreator.php?hex=1168A6&width=150&height=150"
- const descStr = "Un árbol es una planta, de tallo leñoso, que se ramifica a cierta altura del suelo. ​ El término hace referencia habitualmente a aquellas plantas cuya altura supera un determinado límite en la madurez, diferente según las fuentes: dos metros,​ tres metros,​​ cinco metros​ o los seis metros."

mixin card(src= srcStr, title= "Árbol", desc= descStr)
  .tree1 
    img(src= srcStr)
    .content  
      h4= title 
      .p= descStr 
      button HIDE

mixin section(title= "Árboles", cards= [{src: srcStr, title: "Árbol", desc: descStr}, {src: srcStr, title: "Árbol", desc: descStr}])
  .arboles
    .section_header 
      h3= title 
      button &#9660
    .section_card_container 
      each card in cards 
        +card(card.src, card.title, card.desc)

+section