.tree1,
.tree2,
.tree3,
.mammal1,
.mammal2,
.mammal3,
.reptile1,
.anfibio1,
.anfibio2,
.anfibio3,
.reptile1,
.reptile2,
.reptile3,
.bird1,
.bird2,
.bird3 {
  display: flex;
  border: 1px solid gray;
}

img {
  width: 100px;
  height: 100px;
}
.p {
  font-size: h4;
}

.section_header {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  justify-content: space-between;
}
