.tree1 {
  display: flex;
  border: 1px solid gray;
}

img {
  width: 100px;
  height: 100px;
}

.p {
  font-size: h4;
}

.section_header {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  justify-content: space-between;
}
