.modal__dropback.hidden
  .modal__main
    header 
      .modal__attention
      span.modal__close &times; 
    .modal__content
      h2 Museo 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid maiores eos iusto expedita voluptatibus possimus, tenetur velit, voluptate voluptates consectetur suscipit qui cum debitis illo enim. Accusamus sapiente corporis possimus.

