.modal__dropback.hidden
  .modal__main
    header 
      .modal__attention
      span(role="button" tabindex="0").modal__close &times; 
    .modal__content
      h2 #[span Patrimonio Cultural y Natural] Museo Alcide d'Orbigny
      p El Museo de Historia Natural #[a(href="http://museodorbigny.org") Alcide d’Orbigny] fue fundado el año XXX a partir de un convenio entre la UMSS, la Fundación para las Ciencias y el Municipio de Cochabamba.
      p Su destacada labor cultural y científica le ha valido múltiples reconocimientos nacionales e internacionales y el ser declarado #[em Patrimonio Cultural Inmueble] de Bolivia (#[a(href="https://geoarbol.com/assets/documents/ley593-2014.pdf") Ley 593]).
      p Actualmente, el museo se encuentra cerrado por falta de mantenimiento. Dichos trabajos son responsabilidad del Municipio de Cochabamba. Peor aún, la continuidad de su trabajo se encuentra amenazada por el proyecto de trasladar el museo para construir un centro de convenciones.
      p Apoya al Museo d'Orbigny firmando la #[a(href="https://www.change.org/p/manfred-reyes-villa-alcalde-de-cochabamba-apoyemos-al-museo-alcides-d-orbigny-para-que-no-pierda-la-biodiversidad-que-alberga") petición en línea] para conservarlo.


